
{{#if user.isAuthenticated}}
{{#ifHasRole "Sales"}}
    {{#with query}}
        {{defineSearch "search" ""}}
    {{/with}}
    

    {{#db_query 
     "customers"
    "   SELECT meta(mmp).id AS id, mmp.* FROM mmp
        WHERE dbNamespace = '/Customers'
        ((searchQuery)) 
        ORDER BY name ASC
    "
   
    }}
    {{!-- {{toJSON due_this_week}} --}}
    <h4 class="w3-margin w3-padding-large w3-col m4">Customers</h4>
    <button class="w3-btn w3-green w3-right" onclick="location.href='/Customers/form?docid=new'">Create New Customer</button>
    

    <div class="w3-row">
        <column class="w3-col m2" >
            <h4>Search All Sales</h4>
        </column>
        
        <input class="w3-col m9 w3-input w3-border" 
                name="search" type="search" placeholder="Search..." 
                value="{{query.search}}" autofocus 
                onfocus="this.select()" 
                onsearch="location.search='search=' + encodeURIComponent(this.value)"/>    
        
    </div>

    
    <div class=" w3-col m11 w3-padding-large">
        <p>
            {{customers.dbQuery.meta.metrics.sortCount}} Results Returned in {{customers.dbQuery.meta.metrics.elapsedTime}}ms            
        </p>
        <table class="w3-table-all w3-margin">
            <thead>
                <tr class="w3-theme">
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody>
                {{#each customers}}
                <tr  class="w3-hover-theme" >
                    <td {{clicker}}>{{name}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
        

    {{/db_query}}

{{else}}

    <h4>You do Not have permission to view this resource</h4>

{{/ifHasRole}}


{{else}}
{{!-- NOT LOGGED IN --}}
    
    {#child /Application/login}
{{/if}}
